[submodule "DownScale"]
	path = DownScale
	url = https://github.com/iiasa/DownScale
[submodule "Condor_run_R"]
	path = Condor_run_R
	url = https://github.com/iiasa/Condor_run_R

[submodule "G4M"]
	path = G4M
	url = https://github.com/iiasa/G4M_global
	branch = Link_version
[submodule "PostProcessing"]
	path = PostProcessing
	url = https://github.com/iiasa/PostProcessing
[submodule "Biodiversity_Link"]
	path = Biodiversity_Link
	url = https://github.com/iiasa/Biodiversity_Link
